@import url("./base/variables.css");
@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./base/layout.css");

/* Components */
@import url("./components/header.css");
@import url("./components/footer.css");

/* Pages */
@import url("./pages/home.css");