/* HEADER */
header {
    position: sticky;
    top: 0;

    z-index: 1000;
    background: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


header.hide {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


#inner-header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--space-lg) var(--space-md);

    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    transition: padding 0.3s ease, gap 0.3s ease;
}


/* LEFT GROUP */
#header-left {
    display: flex;
    align-items: center;
    gap: var(--space-md);

    transition: gap 0.3s ease;
}


/* LOGO */
#UPV-logo {
    width: 64px;
    height: 64px;
    object-fit: contain;

    transition: width 0.3s ease, height 0.3s ease;
}

#title {
    font-family: var(--font-heading);
    font-size: 2.4rem;
    color: var(--color-heading);
    margin-bottom: var(--space-xs);

    line-height: .7;

    transition: font-size 0.3s ease, margin 0.3s ease;
}


#subtitle {
    font-size: 1.5rem;
    font-weight: normal;

    opacity: 1;
    max-height: 2.5rem;

    color: var(--color-text-base);

    line-height: 1;

    transition: opacity 0.2s ease, max-height 0.2s ease;
    overflow: hidden;
}


/* NAV STYLING */
#header-nav {
    display: flex;
    gap: var(--space-lg);

    transition: margin 0.3s ease;
}


.header-nav-link {
    font-size: var(--font-size-medium);
    text-decoration: none;
    color: var(--color-text-base);
    padding-bottom: 0.25rem;
}


.header-nav-link:hover,
.header-nav-link.active {
    color: var(--color-selected);
    cursor: pointer;

    border-bottom: 3px solid var(--color-selected);
}


#nav-dropdown {
    position: relative;
}


#nav-dropdown > .header-nav-link:hover {
    text-decoration: none;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    background: white;
    min-width: 220px;
    padding: 0.5rem 0;

    border-radius: var(--radius-md);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    opacity: 0;
    transform: translate(10px);
    pointer-events: none;

    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 1000;
}


.dropdown-menu a {
    display: block;
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    color: var(--color-text-base);
    text-decoration: none;
}


#nav-dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* SHRINK STATE */
header.shrink #inner-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-sm) var(--space-md);
}


header.shrink #header-left {
    gap: var(--space-sm);
}

header.shrink #UPV-logo {
    width: 40px;
    height: 40px;
}

header.shrink #title {
    font-size: 1.2rem;
    margin-bottom: 0;
}

header.shrink #subtitle {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

header.shrink #header-nav {
    margin-top: 0;
}